$colors: (
    body: (
        color: #404248,
    ),
    heading: (
        color: #131415,
    ),
    theme: (
        primary: #17BD54,
        primary-2: #3795FC,
        primary-3: #FF4C4C,
        secondary: #6F56DA,
    ),
    color: (
        blue-default: #644DC5,
        dark-blue: #0E104B,
        yellow-default: #FFD247,
        yellow-light: #f8f7d7,
        white-default: #ffffff,
        lavender-default: #eeebff,
        anti-flash-default: #f1f1f1,
        anti-flash-2: #f4eaf4,
        alice-blue-default: #ecf5ff,
        green-default: #0FB04B,
        dark-green: #003313,
        gray-1: #b1b5bf,
        gray-2: #E8E8E8,
        gray-3: #F5F7F9,
        gray-4: #767982,
        gray-5: #B1B5BF,
        gray-6: #F0F1F3,
        gray-7: #494C55,
        gray-8: #F0F2F6,
        gray-9: #F3F1FF,
        gray-10: #F7F7F7,
        dark: #0A0B0F,
        dark-2: #242424,
        dark-3: #1F2122,
        dark-4: #06070A,
        dark-5: #1B1C1D,
    ),
    border: (
        1: #f0f0f0,
        2: #d9dfe5,
        3: #343641,
        4: #EEF2F6,
        5: #E1E6F0,
    )
);
