@forward 'components/theme';
@forward 'components/buttons';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/carousel';
@forward 'components/offcanvas';
@forward 'components/breadcrumb';
@forward 'components/accordion';
@forward 'components/modal';
@forward 'components/scroll-top';
@forward 'components/section-title';
@forward 'components/mobile-menu';
@forward 'components/animation';
@forward 'components/search';
@forward 'layout/header';
@forward 'layout/banner';
@forward 'layout/hosting';
@forward 'layout/pricing';
@forward 'layout/choose';
@forward 'layout/services';
@forward 'layout/features';
@forward 'layout/testimonial';
@forward 'layout/brand';
@forward 'layout/faq';
@forward 'layout/domain';
@forward 'layout/support';
@forward 'layout/blog';
@forward 'layout/data-center';
@forward 'layout/about';
@forward 'layout/team';
@forward 'layout/success';
@forward 'layout/marquee';
@forward 'layout/contact';
@forward 'layout/error';
@forward 'layout/terms';
@forward 'layout/login';
@forward 'layout/footer';

