@use '../utils' as *;

/*=============================
    	14. Blog
===============================*/
.blog {
    &__post {
        &-item {
            margin-bottom: 30px;
            &-two {
                margin-bottom: 40px;
            }
            &-three {
                @include flexbox();
                gap: 24px;
                margin-bottom: 24px;
                @media #{$lg} {
                    gap: 18px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                & .blog__post-author {
                    gap: 8px;
                    & img {
                        width: 24px;
                        flex: 0 0 auto;
                    }
                    & a {
                        font-size: 14px;
                    }
                }
            }
            &-four {
                @include flexbox();
                gap: 24px;
                margin-bottom: 24px;
                @media #{$xs} {
                    flex-wrap: wrap;
                }
                @media #{$sm} {
                    flex-wrap: nowrap;
                }
            }
        }
        &-thumb {
            position: relative;
            margin-bottom: 16px;
            & img {
                width: 100%;
                @include border-radius(8px);
            }
            &-two {
                margin-bottom: 24px;
                & img {
                    min-height: 300px;
                    object-fit: cover;
                }
            }
            &-three {
                width: 200px;
                flex: 0 0 auto;
                @media #{$lg} {
                    width: 160px;
                }
                @media #{$md} {
                    width: 180px;
                }
                @media #{$xs} {
                    width: 160px;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    height: 100%;
                    @include border-radius(8px);
                }
            }
            &-four {
                width: 200px;
                flex: 0 0 auto;
                margin-bottom: 0;
                @media #{$xs} {
                    width: 100%;
                }
                @media #{$sm} {
                    width: 200px;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    height: 100%;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -o-border-radius: 8px;
                    -ms-border-radius: 8px;
                    border-radius: 8px;
                }
            }
        }
        &-content {
            & p {
                margin-bottom: 30px;
                @media #{$lg} {
                    margin-bottom: 20px;
                }
            }
            &-two {
                & .blog__post-title {
                    font-size: 32px;
                    margin-bottom: 16px;
                    @media #{$lg} {
                        font-size: 28px;
                    }
                    @media #{$xs} {
                        font-size: 26px;
                    }
                }
                & p {
                    margin-bottom: 0;
                }
            }
            &-three {
                min-height: 144px;
                & .blog__post-tag {
                    margin-bottom: 12px;
                }
                & .blog__post-title {
                    font-size: 18px;
                    margin-bottom: 20px;
                    line-height: 1.4;
                    @media #{$lg} {
                        font-size: 16px;
                        margin-bottom: 14px;
                    }
                    @media #{$md} {
                        font-size: 18px;
                    }
                    @media #{$xs} {
                        font-size: 16px;
                    }
                }
            }
            &-four {
                min-height: 164px;
                & .blog__post-title {
                    margin-bottom: 12px;
                    font-size: 20px;
                    @media #{$lg} {
                        font-size: 18px;
                    }
                }
                & p {
                    margin-bottom: 20px;
                }
            }
        }
        &-title {
            margin-bottom: 20px;
            font-size: 24px;
            @media #{$lg} {
                font-size: 22px;
            }
            & a {
                display: inline;
                background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
                background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
                -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                &:hover {
                    color: var(--tg-theme-secondary);
                    background-size: 100% 2px;
                }
            }
        }
        &-tag {
            position: absolute;
            left: 16px;
            bottom: 16px;
            font-weight: 500;
            font-size: 12px;
            border: 1px solid var(--tg-border-2);
            background: var(--tg-color-gray-8);
            color: var(--tg-body-color);
            @include border-radius(24px);
            display: inline-block;
            line-height: 1;
            padding: 4px 11px;
            &:hover {
                background: var(--tg-theme-secondary);
                border-color: var(--tg-theme-secondary);
                color: var(--tg-color-white-default);
            }
            &-two {
                position: inherit;
            }
        }
        &-meta {
            & .list-wrap {
                @include flexbox();
                align-items: center;
                gap: 10px 30px;
                flex-wrap: wrap;
                & li {
                    position: relative;
                    font-size: 14px;
                    color: var(--tg-color-gray-4);
                    &::before {
                        content: "";
                        position: absolute;
                        right: -18px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 5px;
                        background: var(--tg-color-gray-4);
                        @include border-radius(50%);
                    }
                    &:last-child {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        &-author {
            @include flexbox();
            align-items: center;
            gap: 16px;
            & img {
                @include border-radius(50%);
                width: 32px;
                flex: 0 0 auto;
            }
            & a {
                font-weight: 600;
                font-size: 16px;
                color: var(--tg-heading-color);
                &:hover {
                    color: var(--tg-theme-secondary);
                }
            }
        }
    }
    &__details {
        &-inner {
            padding: 0 56px;
            @media #{$lg} {
                padding: 0;
            }
        }
        &-thumb {
            margin-bottom: 24px;
            & img {
                @include border-radius(8px);
                width: 100%;
            }
        }
        &-content {
            &-top {
                @include flexbox();
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                margin-bottom: 24px;
            }
            & > .title {
                margin-bottom: 12px;
                font-size: 18px;
                color: var(--tg-body-color);
            }
            & .title-two {
                margin-bottom: 5px;
                font-size: 16px;
                color: var(--tg-body-color);
            }
            & p {
                margin-bottom: 24px;
                & span {
                    font-weight: 600;
                }
            }
            &-bottom {
                @include flexbox();
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: space-between;
                border-top: 1px solid var(--tg-border-2);
                padding-top: 25px;
                margin-top: 40px;
            }
        }
        &-list {
            & > .list-wrap {
                margin-left: 25px;
                & li {
                    position: relative;
                    list-style: inherit;
                }
            }
        }
        &-tag {
            & .list-wrap {
                @include flexbox();
                align-items: center;
                gap: 8px;
                & li {
                    & a {
                        background: var(--tg-color-gray-8);
                        &:hover {
                            background: var(--tg-theme-secondary);
                            border-color: var(--tg-theme-secondary);
                        }
                    }
                }
            }
        }
        &-social {
            margin-top: 0;
            & .list-wrap {
                & li {
                    & a {
                        &:hover {
                            color: var(--tg-theme-secondary);
                        }
                    }
                }
            }
        }
    }
}