@use '../utils' as *;

/*=============================
    	20. Contact
===============================*/
.contact {
    &__info-box {
        background: linear-gradient(45deg, #fff 70.19%, #e6e2fa 100%);
        border: 1px solid var(--tg-border-2);
        padding: 70px 64px 72px;
        @include border-radius(16px);
        height: 100%;
        @media #{$lg} {
            padding: 60px 50px 60px;
        }
        @media #{$xs} {
            padding: 40px 30px 40px;
        }
        & > .title {
            margin-bottom: 16px;
            font-size: 32px;
            font-weight: 600;
            @media #{$lg} {
                font-size: 28px;
            }
        }
        & p {
            font-size: 14px;
            margin-bottom: 32px;
            width: 90%;
            @media #{$lg} {
                width: 100%;
            }
        }
        & > .list-wrap {
            & li {
                @include flexbox();
                align-items: flex-start;
                gap: 20px;
                margin-bottom: 24px;
                &:last-child {
                    margin-bottom: 0;
                }
                & .icon {
                    width: 40px;
                    height: 40px;
                    @include flexbox();
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    border: 1px solid var(--tg-border-2);
                    @include border-radius(8px);
                    flex: 0 0 auto;
                }
                & span,
                & a {
                    font-weight: 500;
                    font-size: 24px;
                    color: var(--tg-body-color);
                    line-height: 1.4;
                    @media #{$lg} {
                        font-size: 22px;
                    }
                    @media #{$xs} {
                        font-size: 20px;
                    }
                    @media #{$sm} {
                        font-size: 22px;
                    }
                }
                & a {
                    &:hover {
                        color: var(--tg-theme-secondary);
                    }
                }
            }
        }
    }
    &__form {
        &-box {
            border: 1px solid var(--tg-border-2);
            background: linear-gradient(45deg, #fff 70.19%, #def7ea 100%);
            border-radius: 16px;
            padding: 70px 64px 72px;
            @media #{$lg} {
                padding: 60px 50px 60px;
            }
            @media #{$xs} {
                padding: 40px 30px 40px;
            }
            & .title {
                font-size: 32px;
                margin-bottom: 24px;
                @media #{$lg} {
                    font-size: 28px;
                }
            }
            & .form-grp {
                margin-bottom: 16px;
                & textarea,
                & input {
                    width: 100%;
                    background: var(--tg-color-white-default);
                    border: 1px solid var(--tg-border-2);
                    @include border-radius(8px);
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--tg-heading-color);
                    padding: 14px 24px;
                    height: 56px;
                    display: block;
                    @include transition(.3s);
                    &::placeholder {
                        color: #717484;
                        font-size: 14px;
                    }
                    &:focus {
                        border-color: var(--tg-heading-color);
                    }
                }
                & textarea {
                    min-height: 117px;
                    max-height: 117px;
                    margin-bottom: 24px;
                }
            }
            & .tg-btn {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    &__social {
        margin-top: 70px;
        & .list-wrap {
            & li {
                & a {
                    &:hover {
                        color: var(--tg-theme-secondary);
                    }
                }
            }
        }
    }
    &__item {
        background: var(--tg-color-gray-3);
        padding: 32px 32px;
        @include border-radius(24px);
        height: 100%;
        @media #{$lg} {
            padding: 30px 25px;
        }
        &:hover {
            & .contact__item-icon {
                transform: translateY(5px);
            }
        }
        &-icon {
            width: 56px;
            height: 56px;
            @include border-radius(8px);
            @include flexbox();
            align-items: center;
            justify-content: center;
            background: var(--tg-color-white-default);
            border: 1px solid var(--tg-border-2);
            color: var(--tg-theme-secondary);
            margin-bottom: 32px;
            @include transition(.3s);
        }
        &-content {
            & .title {
                margin-bottom: 8px;
                font-size: 32px;
                @media #{$lg} {
                    font-size: 28px;
                }
            }
            & p {
                margin-bottom: 30px;
            }
            & .list-wrap {
                @include flexbox();
                align-items: center;
                gap: 10px 16px;
                flex-wrap: wrap;
                & li {
                    & a {
                        @include flexbox();
                        align-items: center;
                        background: var(--tg-color-white-default);
                        gap: 8px;
                        @include border-radius(20px);
                        color: var(--tg-theme-secondary);
                        font-weight: 500;
                        padding: 6px 16px;
                        line-height: 1;
                        &:hover {
                            background: var(--tg-theme-secondary);
                            color: var(--tg-color-white-default);
                        }
                    }
                }
            }
        }
    }
}


.ajax-response {
    &.error,
    &.success {
        margin: 20px 0 0 !important;
    }
    &.error {
        color: red;
    }
    &.success {
        color: green;
    }
}