@use '../utils' as *;

/*=============================
    	15. Data Center
===============================*/
.data {
    &__center {
        &-area {
            background: var(--tg-heading-color);
            position: relative;
            overflow: hidden;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%) rotate(-75deg);
                top: -311px;
                width: 500px;
                height: 500px;
                @include border-radius(50%);
                background: linear-gradient(208deg, #ff00a1 0%, #6a4dff 100%);
                filter: blur(180px);
                z-index: -1;
                opacity: .4;
            }
        }
        &-tab {
            text-align: center;
            & .nav {
                &-tabs {
                    border: 1px solid #222222;
                    @include border-radius(48px);
                    background: #06070A;
                    justify-content: center;
                    display: inline-flex;
                    padding: 12px 12px;
                    gap: 8px;
                    margin-bottom: 55px;
                }
                &-link {
                    font-weight: 500;
                    font-size: 16px;
                    color: var(--tg-color-gray-1);
                    background: #131415;
                    border: none;
                    @include border-radius(32px);
                    padding: 12px 24px;
                    line-height: 1;
                    &.active {
                        background: var(--tg-theme-secondary);
                        color: var(--tg-color-white-default);
                    }
                }
            }
            &-two {
                & .nav {
                    &-tabs {
                        border: 1px solid #d9dfe5;
                        background: var(--tg-color-white-default);
                    }
                    &-link {
                        background: #F7F7F7;
                        color: var(--tg-body-color);
                    }
                }
            }
        }
        &-map-item {
            margin: 0 213px;
            position: relative;
            z-index: 1;
            @media #{$lg} {
                margin: 0 50px;
            }
            @media #{$md} {
                margin: 0;
            }
            & .list-wrap {
                & li {
                    position: absolute;
                    &:nth-child(1) {
                        left: 10%;
                        top: 14%;
                    }
                    &:nth-child(2) {
                        left: 17%;
                        top: 34%;
                    }
                    &:nth-child(3) {
                        left: 30%;
                        bottom: 37%;
                    }
                    &:nth-child(4) {
                        left: 50%;
                        top: 20%;
                    }
                    &:nth-child(5) {
                        left: 46%;
                        top: 46%;
                    }
                    &:nth-child(6) {
                        right: 25%;
                        top: 36%;
                    }
                    &:nth-child(7) {
                        right: 9%;
                        bottom: 25%;
                    }
                    & .tooltip-btn {
                        width: 18px;
                        height: 18px;
                        background: rgba(23, 189, 84, 0.12);
                        @include border-radius(50%);
                        border: 1px solid var(--tg-theme-primary);
                        position: absolute;
                        left: -4px;
                        top: 0;
                        cursor: pointer;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 10px;
                            height: 10px;
                            @include border-radius(50%);
                            background: var(--tg-theme-primary);
                        }
                    }
                    & .tooltip-location {
                        @include flexbox();
                        align-items: center;
                        gap: 8px;
                        font-weight: 500;
                        font-size: 14px;
                        color: var(--tg-color-gray-5);
                        background: #06070A;
                        padding: 13px 17px;
                        @include border-radius(8px);
                        border: 1px solid #222;
                        position: absolute;
                        left: 50%;
                        top: -63px;
                        transform: translateX(-50%);
                        opacity: 0;
                        visibility: hidden;
                        & .icon {
                            line-height: 1;
                            transform: translateY(-1px);
                        }
                        & span {
                            white-space: nowrap;
                        }
                        &::after {
                            border-bottom: 2px solid #222;
                            border-right: 2px solid #222;
                            content: '';
                            display: block;
                            height: 12px;
                            position: absolute;
                            left: 50%;
                            bottom: -12px;
                            -webkit-transform-origin: 66% 66%;
                            -ms-transform-origin: 66% 66%;
                            transform-origin: 66% 66%;
                            transform: rotate(45deg) translateX(-50%);
                            width: 12px;
                            background: #06070A;
                        }
                    }
                    &.active {
                        & .tooltip-location {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        &-price {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            & a {
                color: var(--tg-color-gray-1);
                font-weight: 500;
                display: inline-flex;
                align-items: center;
                gap: 5px;
                &:hover {
                    color: var(--tg-theme-primary);
                }
            }
        }
    }
}

.data__center-map-wrap-two {
    & .data__center-map-item {
        & .list-wrap li {
            & .tooltip-location {
                background: var(--tg-color-white-default);
                border: 1px solid #d9dfe5;
                @include border-radius(48px);
                color: var(--tg-body-color);
                &::after {
                    background: var(--tg-color-white-default);
                    border-bottom: 1px solid var(--tg-border-2);
                    border-right: 1px solid var(--tg-border-2);
                }
            }
        }
    }
}
