@use '../utils' as *;

/*=============================
    	23. Login
===============================*/
.login {
    &__form {
        &-inner {
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            @media #{$xs} {
                height: 100vh;
            }
            & .shape {
                & img {
                    position: absolute;
                    right: -24%;
                    top: -10%;
                    z-index: -1;
                }
            }
        }
        &-wrap {
            padding: 30px 15px;
            width: 490px;
            margin: 0 auto;
            @media #{$lg} {
                width: 445px;
            }
            @media #{$md} {
                width: 345px;
            }
            & .title {
                margin-bottom: 48px;
                font-size: 40px;
                @media #{$xl} {
                    font-size: 36px;
                    margin-bottom: 25px;
                }
                @media #{$xs} {
                    font-size: 32px;
                }
            }
            & .divider {
                text-align: center;
                display: block;
                font-weight: 500;
                font-size: 14px;
                color: #717484;
                margin-bottom: 24px;
                margin-top: 24px;
            }
        }
        &-social {
            & a {
                display: flex;
                align-items: center;
                color: var(--tg-heading-color);
                border: 1px solid var(--tg-border-2);
                @include border-radius(8px);
                justify-content: center;
                gap: 15px;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 16px;
                padding: 14px 15px;
                background: var(--tg-color-white-default);
                &:hover {
                    color: var(--tg-theme-secondary);
                    border-color: var(--tg-theme-secondary);
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        & .form__grp {
            position: relative;
            margin-bottom: 16px;
            & label {
                position: absolute;
                left: 16px;
                top: 16px;
                color: #717484;
            }
            & input {
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                color: var(--tg-heading-color);
                border: 1px solid var(--tg-border-2);
                @include border-radius(8px);
                padding: 14px 20px 14px 55px;
                height: 56px;
                @include transition(.3s);
                display: block;
                &::placeholder {
                    color: #717484;
                }
                &:focus {
                    border-color: var(--tg-heading-color);
                }
            }
        }
        & .tg-btn {
            width: 100%;
            justify-content: center;
            padding: 16px 20px;
        }
    }
    &__img {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        @media #{$xs} {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            left: 40px;
            top: 40px;
            bottom: 40px;
            right: 40px;
            border: 16px solid rgba(255, 255, 255, 0.24);
        }
    }
}

.forgot-password {
    margin-bottom: 32px;
    & a {
        font-size: 12px;
        color: #FC5C79;
        &:hover {
            color: var(--tg-theme-primary);
        }
    }
}

.password-reset {
    margin-bottom: 24px;
    & a {
        @include flexbox();
        align-items: center;
        color: #19202B;
        gap: 8px;
        &:hover {
            color: var(--tg-theme-primary);
        }
    }
}

.account__switch {
    margin-top: 24px;
    & p {
        margin-bottom: 0;
        @include flexbox();
        align-items: center;
        justify-content: center;
        gap: 5px;
        & a {
            color: var(--tg-theme-secondary);
            &:hover {
                color: var(--tg-theme-primary);
            }
        }
    }
}