@use '../utils' as *;

/*=============================
    	05. Pricing
===============================*/
.pricing {
    &-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 40px;
        & .tab-btn {
            cursor: pointer;
            color: var(--tg-body-color);
            font-weight: 500;
            font-size: 16px;
            user-select: none;
            transition: .3s;
            & strong {
                color: var(--tg-theme-primary);
                font-weight: 500;
            }
        }
        & .pricing-tab-switcher {
            height: 24px;
            width: 48px;
            display: inline-block;
            border-radius: 30px;
            position: relative;
            margin: 0 15px;
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            transform: translateY(0px);
            cursor: pointer;
            background: var(--tg-theme-primary);
            &::before {
                content: "";
                position: absolute;
                left: 2px;
                top: 2px;
                bottom: 2px;
                width: 20px;
                border-radius: 50%;
                background: var(--tg-color-white-default);
                transition: .3s;
            }
            &.active {
                &::before {
                    left: calc(100% - 22px);
                }
            }
        }
        &-two {
            & .pricing-tab-switcher {
                background: var(--tg-theme-secondary);
            }
            & .tab-btn strong {
                color: #767982;
            }
        }
        &-three {
            & .pricing-tab-switcher {
                background: var(--tg-theme-primary-2);
            }
        }
        &-four {
            & .tab-btn strong {
                color: var(--tg-theme-primary);
            }
        }
    }
    &__box {
        background: linear-gradient(45deg, #fff 70.19%, #e6e2fa 100%);
        border: 1px solid var(--tg-border-2);
        @include border-radius(16px);
        padding: 32px 32px;
        margin-bottom: 40px;
        @media #{$lg} {
            padding: 25px 20px;
        }
        @media #{$md} {
            padding: 25px 25px;
        }
        &.active {
            & .pricing__list {
                height: 100%;
            }
            & .pricing__select {
                & .more-item {
                    display: none;
                }
                & .less-item {
                    display: block;
                }
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
        &-two {
            & .pricing__btn .tg-btn {
                border-radius: 24px;
                &.active,
                &:hover {
                    background: var(--tg-theme-secondary);
                    border-color: var(--tg-theme-secondary);
                    color: var(--tg-color-white-default);
                }
            }
        }
        &-three {
            height: 100%;
            margin-bottom: 0;
            & .pricing__list {
                height: auto;
            }
        }
        &-four {
            background: var(--tg-color-gray-10);
            border: 1px solid var(--tg-border-2);
            @include border-radius(32px);
            padding: 8px 8px 32px 8px;
            & .pricing__plan {
                & .title {
                    @include flexbox();
                    align-items: center;
                    flex-wrap: wrap;
                    font-size: 24px;
                    gap: 5px;
                }
                & .price-off {
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    background: var(--tg-color-white-default);
                    display: block;
                    border: 1px solid var(--tg-border-2);
                    border-radius: 4px;
                    padding: 5px 7px;
                    line-height: 1;
                    &.active {
                        text-transform: capitalize;
                        background: var(--tg-theme-primary);
                        color: var(--tg-color-white-default);
                        border: none;
                    }
                }
                & > p {
                    font-size: 12px;
                }
            }
            & .pricing__price > p {
                font-size: 12px;
            }
            & .pricing__btn {
                margin-bottom: 0;
                & .tg-btn {
                    background: var(--tg-color-white-default);
                    @include border-radius(32px);
                    color: var(--tg-heading-color);
                    padding: 14px 20px;
                    &:hover {
                        background: var(--tg-heading-color);
                        color: var(--tg-color-white-default);
                    }
                }
            }
            & .pricing__list {
                height: 360px;
            }
            & .pricing__select {
                background: var(--tg-color-white-default);
            }
        }
        &-five {
            & .pricing__list {
                height: auto;
            }
        }
        &-six {
            @include border-radius(0);
            border: none;
            background: #F7F7F7;
            border-right: 1px solid var(--tg-border-2);
            margin-bottom: 0;
            @media #{$xs} {
                border-right: none;
                border-bottom: 1px solid var(--tg-border-2);
            }
            & .pricing__select {
                background: var(--tg-color-white-default);
            }
        }
        &-seven {
            background: #EEEBFF;
            border: none;
            & .pricing__box-top {
                border-color: #D3CEF1;
            }
        }
        &-top {
            border: 1px solid #000;
            border-radius: 24px;
            background: #EEEBFF;
            padding: 16px 16px;
        }
        &-bottom {
            padding: 30px 16px 0;
            &.active {
                & .pricing__list {
                    height: 100%;
                }
                & .pricing__select {
                    &::after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                    & .less-item {
                        display: block;
                    }
                    & .more-item {
                        display: none;
                    }
                }
            }
        }
    }
    &__plan {
        margin-bottom: 32px;
        & .title {
            margin-bottom: 8px;
            font-size: 22px;
            @include flexbox();
            align-items: center;
            gap: 5px;
            & .tg-badge {
                font-weight: 500;
                font-size: 12px;
                color: var(--tg-heading-color);
                background: var(--tg-color-yellow-default);
                @include border-radius(8px);
                padding: 4px 8px;
                line-height: 1;
            }
        }
        & > p {
            margin-bottom: 0;
            font-size: 14px;
            color: var(--tg-color-gray-4);
        }
    }
    &__price {
        position: relative;
        margin-bottom: 32px;
        & .price {
            font-size: 40px;
            @include flexbox();
            align-items: flex-end;
            line-height: 1;
            margin-bottom: 12px;
            @media #{$lg} {
                font-size: 34px;
            }
            & span {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 7px;
                color: var(--tg-color-gray-4);
                @media #{$lg} {
                    font-size: 16px;
                }
            }
            &.annual_price {
                display: none;
            }
        }
        &.change-subs-duration {
            & .price.monthly_price {
                display: none;
            }
            & .price.annual_price {
                display: flex;
            }
        }
        & > p {
            margin-bottom: 0;
            font-size: 14px;
            color: var(--tg-color-gray-4);
        }
        & .price-off {
            position: absolute;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            background: var(--tg-color-white-default);
            right: 0;
            top: 5px;
            display: block;
            border: 1px solid var(--tg-border-2);
            border-radius: 8px;
            padding: 9px 11px;
            line-height: 1;
        }
    }
    &__btn {
        margin-bottom: 32px;
        & .tg-btn {
            width: 100%;
            justify-content: center;
        }
    }
    &__list {
        height: 340px;
        overflow: hidden;
        & .list-wrap {
            & li {
                margin-bottom: 20px;
                @include flexbox();
                align-items: flex-start;
                gap: 16px;
                line-height: 1.25;
                &:last-child {
                    margin-bottom: 0;
                }
                & .icon {
                    color: var(--tg-theme-primary);
                }
                & .content {
                    @include flexbox();
                    align-items: center;
                    gap: 4px;
                    & strong {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    &__select {
        position: relative;
        margin-top: 20px;
        background-color: var(--tg-color-gray-3);
        color: var(--tg-heading-color);
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        border-radius: 4px;
        padding: 9px 45px 9px 24px;
        width: 100%;
        line-height: 1.2;
        height: 36px;
        cursor: pointer;
        &::after {
            content: "\f078";
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            font-family: "Font Awesome 5 Free";
            font-weight: 700;
            right: 24px;
            font-size: 14px;
            color: var(--tg-color-gray-4);
        }
        & .less-item {
            display: none;
        }
        & span {
            display: block;
            line-height: 1;
        }
    }
    &__item-wrap {
        & .row > * {
            &:nth-child(2) {
                & .pricing__box {
                    background: linear-gradient(45deg, #fff 70.19%, #e4effb 100%);
                }
            }
            &:nth-child(3) {
                & .pricing__box {
                    background: linear-gradient(45deg, #fff 70.19%, #def7ea 100%);
                }
            }
        }
        &-two {
            & .row > * {
                &:nth-child(2) {
                    & .pricing__box-top {
                        background: #ECF5FF;
                    }
                }
                &:nth-child(3) {
                    & .pricing__box-top {
                        background: #F8F7D7;
                    }
                }
                &:nth-child(4) {
                    & .pricing__box-top {
                        background: #DEF7EA;
                    }
                }
            }
        }
        &-three {
            border: 1px solid var(--tg-border-2);
            @include border-radius(16px);
            overflow: hidden;
            background: #F7F7F7;
            & .row > * {
                &:nth-child(2) {
                    @media #{$md} {
                        & .pricing__box-six {
                            border-right: none;
                        }
                    }
                }
                &:last-child {
                    & .pricing__box-six {
                        border-right: none;
                        border-bottom: none;
                    }
                }
            }
        }
        &-four {
            & .row > * {
                &:nth-child(2) {
                    & .pricing__box-seven {
                        background: #ECF5FF;
                        border: none;
                        & .pricing__box-top {
                            border-color: #D3E1F0;
                        }
                    }
                }
                &:nth-child(3) {
                    & .pricing__box-seven {
                        background: #F8F7D7;
                        border: none;
                        & .pricing__box-top {
                            border-color: #E1E0A4;
                        }
                    }
                }
                &:nth-child(4) {
                    & .pricing__box-seven {
                        background: #DEF7EA;
                        border: none;
                        & .pricing__box-top {
                            border-color: #C5E6D5;
                        }
                    }
                }
            }
        }
    }
}