@use '../utils' as *;

/*=============================
    	07. Services
===============================*/
.services {
    &__inner-wrap {
        padding: 0 80px;
        @media #{$lg} {
            padding: 0 0;
        }
    }
    &__tab-wrap {
        & .nav {
            &-tabs {
                border-bottom: 2px solid var(--tg-border-2);
                margin-bottom: 48px;
                gap: 20px 0;
                @media #{$md} {
                    border-bottom: none;
                    justify-content: center;
                }
            }
            &-item {
                width: 33.33%;
                flex: 0 0 auto;
                @media #{$md} {
                    width: auto;
                }
            }
            &-link {
                text-align: center;
                margin: 0 auto;
                border: none;
                padding: 0 20px 22px;
                position: relative;
                font-weight: 500;
                font-size: 20px;
                color: var(--tg-color-gray-4);
                width: 100%;
                @media #{$md} {
                    padding: 0 20px 15px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    height: 2px;
                    width: 0;
                    background: var(--tg-heading-color);
                    @include transition(.3s);
                }
                &.active {
                    color: var(--tg-heading-color);
                    &::before {
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
    &__item {
        @include flexbox();
        align-items: flex-start;
        gap: 30px 85px;
        @media #{$lg} {
            gap: 30px 40px;
        }
        @media #{$md} {
            gap: 30px 30px;
        }
        @media #{$xs} {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    &__content {
        position: relative;
        margin-top: 48px;
        z-index: 1;
        @media #{$md} {
            margin-top: 20px;
        }
        @media #{$xs} {
            margin-top: 0;
        }
        & .title {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 80px;
            line-height: 1.4;
            @media #{$md} {
                font-size: 28px;
            }
            @media #{$xs} {
                margin-bottom: 50px;
            }
        }
    }
    &__thumb {
        width: 480px;
        flex: 0 0 auto;
        @media #{$md} {
            width: 350px;
        }
        @media #{$xs} {
            width: 100%;
        }
        & img {
            width: 100%;
            @include border-radius(16px);
        }
    }
    &__shape {
        & img {
            position: absolute;
            right: 0;
            bottom: -120px;
            z-index: -1;
            @media #{$lg} {
                right: -20px;
                bottom: -70px;
                width: 220px;
            }
            @media #{$md} {
                right: -26px;
                bottom: 0px;
                width: 190px;
            }
        }
    }
}

.tab-pane.active {
    animation: tgSlideDown 0.5s ease-in-out;
}