@use '../utils' as *;

/*=============================
    	17. Team
===============================*/
.team {
    &__item {
        background: var(--tg-color-gray-3);
        border: 1px solid var(--tg-border-2);
        @include border-radius(16px);
        text-align: center;
        padding: 40px 40px 40px;
        margin-bottom: 40px;
        @include transition(.3s);
        @media #{$sm} {
            padding: 40px 20px 40px;
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
    &__thumb {
        margin-bottom: 24px;
        & img {
            @include border-radius(24px);
        }
    }
    &__content {
        & .title {
            margin-bottom: 8px;
            font-size: 18px;
        }
        & span {
            display: block;
            font-size: 14px;
        }
    }
    &__bottom-content {
        text-align: center;
        & p {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 18px;
            color: var(--tg-heading-color);
            & a {
                margin-left: 5px;
            }
        }
    }
}